div.wgl-container {
    position: relative;
    display: inline-block;
    z-index: 0;
}

div.wgl-overlay {
    position: absolute;
    z-index: 1;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
